.main {
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #ffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    background:rgba(0,0,0,0.6);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
    box-shadow: 0 10px 12px rgba(0111, 22, 211, 0.4); /* Add shadow */
}

.main:hover {
    background-color: #454545;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

.image {
    flex: 0 0 100px;
    margin-right: 20px;
    display: block;
    max-width: 100px;
    object-fit:cover;
}

.bttn {
    /* position: absolute; */
    top:50%;
    background-color:#000000;
    color: #ffffff;
    border:none; 
    border-radius:10px; 
    padding:12px;
    min-height: 15px;
    min-width: 60px;
  }

  .bttn:hover{
    background-color:rgb(92, 184, 0);
  }

  
